<form [formGroup]="form" (ngSubmit)="onSubmit()" class="bg-white p-8 rounded-2xl shadow-lg space-y-6">
  <h2 class="text-2xl font-bold text-center text-gray-800">
    Faça login para gerenciar sua empresa
  </h2>
  <p class="text-center text-gray-500 text-sm">
    Visualize todos os seus agendamentos com performance e segurança
  </p>
  <ui-input [label]="'CNPJ'" [control]="form.get('cnpj')" [inputType]="'text'" [placeholder]="'00.000.000/0000-00'"
    [mask]="'00.000.000/0000-00'" [autocomplete]="'off'" [small]="false" [className]="'w-full'"></ui-input>
  <ui-input [label]="'Senha'" [control]="form.get('password')" [inputType]="'password'" [placeholder]="'••••••••'"
    [autocomplete]="'current-password'" [small]="false" [className]="'w-full'"></ui-input>
  <ui-button
    [type]="'submit'" [label]="'Entrar'" [color]="'primary'" [variant]="'solid'" [block]="true"
    [disabled]="form.invalid || isSubmitting()" [loading]="isSubmitting()"></ui-button>
  <div class="text-center">
    <ui-link [label]="'Esqueci minha senha'" [routerLink]="'/painel/entrar'" variant="link"></ui-link>
  </div>
  <div class="text-center pt-4 border-t border-gray-200">
    <p class="mb-2 text-sm text-gray-600">Não tem login?</p>
    <ui-button
      [label]="'Registre-se agora'"
      [type]="'button'"
      [color]="'primary'"
      [variant]="'solid'"
      [block]="false"
      (btnClick)="registerClick.emit()"
    ></ui-button>
  </div>
</form>