<a
  [routerLink]="routerLink()"
  [class]="classes()"
  [style.display]="display()"
  [style.width]="width()"
  [style.height]="height()"
>
  @if (iconPosition() !== 'right') {
    @if (iconTpl) {
      <ng-container *ngTemplateOutlet="iconTpl"></ng-container>
    } @else {
      @if (icon() && iconPosition() !== 'right') {
        <i class="icon" aria-hidden="true">{{ icon() }}</i>
      }
    }
  }
  @if (iconPosition() !== 'only') {
    @if (label()) {
      {{ label() }}
    } @else {
      <ng-content></ng-content>
    }
  }
  @if (iconPosition() === 'right') {
    @if (iconTpl) {
      <ng-container *ngTemplateOutlet="iconTpl"></ng-container>
    } @else {
      @if (icon()) {
        <i class="icon" aria-hidden="true">{{ icon() }}</i>
      }
    }
  }
</a>
