<!-- src/app/components/info/info.component.html -->
<div class="border border-gray-300 p-4 w-56 rounded shadow-sm">
  <div class="flex items-center justify-between mb-3">
    <span class="font-semibold text-sm">API</span>
    <span
      class="w-3 h-3 rounded-full"
      [ngClass]="{
        'bg-green-500': apiStatus() === 'UP',
        'bg-red-500': apiStatus() !== 'UP'
      }"
    ></span>
  </div>

  <div class="flex items-center justify-between">
    <span class="font-semibold text-sm">Database</span>
    <span
      class="w-3 h-3 rounded-full"
      [ngClass]="{
        'bg-green-500': dbStatus() === 'UP',
        'bg-red-500': dbStatus() !== 'UP'
      }"
    ></span>
  </div>
</div>
