<div class="flex items-center justify-center bg-blue-50 p-6 h-full min-h-screen">
  <div class="flex flex-col justify-center w-full max-w-md">
    @if (!isRegisterMode()) {
      <app-company-login-form
        (toastChange)="onToastChange($event)"
        (registerClick)="goToRegister()"
      ></app-company-login-form>
    }@else {
      <app-company-register-form
        (toastChange)="onToastChange($event)"
        (backToLogin)="goToLogin()"
      ></app-company-register-form>
    }
  </div>
</div>
