<form [formGroup]="form" (ngSubmit)="onSubmit()" class="bg-white p-8 rounded-2xl shadow-lg space-y-6">
  <h2 class="text-2xl font-bold text-center text-gray-800">
    Registre sua empresa
  </h2>
  <p class="text-center text-gray-500 text-sm">
    Cadastre-se para gerenciar agendamentos com eficiência e segurança
  </p>
  <ui-input [label]="'CNPJ'" [control]="form.get('cnpj')" [inputType]="'text'" [placeholder]="'00.000.000/0000-00'"
    [mask]="'00.000.000/0000-00'" [autocomplete]="'off'" [small]="false" [className]="'w-full'"></ui-input>
  <ui-input [label]="'Senha'" [control]="form.get('password')" [inputType]="'password'" [placeholder]="'••••••••'"
    [autocomplete]="'current-password'" [small]="false" [className]="'w-full'"></ui-input>
  <ui-input [label]="'Nome Fantasia'" [control]="form.get('name')" [inputType]="'text'"
    [placeholder]="'Ex.: Minha Empresa'" [small]="false" [className]="'w-full'"></ui-input>
  <ui-input [label]="'Razão Social'" [control]="form.get('legal_name')" [inputType]="'text'"
    [placeholder]="'Ex.: Minha Empresa LTDA'" [small]="false" [className]="'w-full'"></ui-input>
  <ui-input [label]="'Slug'" [control]="form.get('slug')" [inputType]="'text'" [placeholder]="'minha-empresa'"
    [small]="false" [className]="'w-full'"></ui-input>
  <ui-input [label]="'Nome do Contato'" [control]="form.get('contact_full_name')" [inputType]="'text'"
    [placeholder]="'João Silva'" [small]="false" [className]="'w-full'"></ui-input>
  <ui-input [label]="'E-mail do Contato'" [control]="form.get('contact_email')" [inputType]="'email'"
    [placeholder]="'contato@empresa.com'" [autocomplete]="'email'" [small]="false" [className]="'w-full'"></ui-input>
  <ui-input [label]="'Telefone do Contato'" [control]="form.get('contact_phone')" [inputType]="'text'"
    [placeholder]="'(11) 99999-9999'" [mask]="'(00) 00000-0000'" [autocomplete]="'tel'" [small]="false"
    [className]="'w-full'"></ui-input>

  <ui-button [type]="'submit'" [label]="'Registrar'" [color]="'primary'" [variant]="'solid'" [block]="true"
    [disabled]="form.invalid || isSubmitting()" [loading]="isSubmitting()"></ui-button>

  <div class="text-center pt-4 border-t border-gray-200">
    <ui-button [label]="'Voltar para login'" [type]="'button'" [color]="'primary'" [variant]="'solid'" [block]="false"
      (btnClick)="backToLogin.emit()"></ui-button>
  </div>
</form>